.Listsof{
    display: flex;
    justify-content: center;
    align-items: stretch;
}


.IngrList {
    margin: 20px;
    padding: 15px;
    border-radius: 0 10px 20px;
    border: 5px solid #4B5ED7;

}

.RecipesList {
    margin: 20px;
    padding: 15px;
    border-radius: 0 10px 20px;
    border: 5px solid #4B5ED7;
    max-width: 400px;
}

.categoryList {
    margin: 20px;
    border-radius: 0 10px 20px;
    border: 5px solid #4B5ED7;
    margin-top: 15px;
}

.title{
 text-align: center;
 font-family: Georgia, 'Times New Roman', Times, serif;   
}

.ListTitle {
    margin: 10px;
    text-align: center;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration:underline;
}