.IngredientItem{
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 5px;
    border-radius: 0 0 20px 20px;
    border-bottom: 5px solid #0A67A3;
}

.checkbox {
    transform:scale(1.3);
    opacity:0.9;
    cursor:pointer;
}